<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand mb-0 h1" routerLink="/"><span>News</span> App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" *ngIf="!isLoggedIn">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signUp" *ngIf="!isLoggedIn">signUp</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/" (click)="logout()" *ngIf="isLoggedIn">logout</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="/editProfile" *ngIf="isLoggedIn">Settings</a>
                </li> -->

                <li class="nav-item dropdown" *ngIf="isLoggedIn">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Settings
                  </a>
                  <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="/profile">View Profile</a></li>
                    <li><a class="dropdown-item" routerLink="/editProfile">Edit Profile</a></li>
                  </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>